<md-sidenav-container class="example-container">
  <md-sidenav #sidenav mode="push" opened="true" class="example-sidenav">
    <div class="header"><img src="assets/logo.PNG" /></div>
    <ul>
      <li><a href="#"><i class="fa fa-home"></i>&nbsp;Home</a><i class="fa fa-info-circle fa-lg"></i></li>
      <li><a href="#"><i class="fa fa-film"></i>&nbsp;Project</a><i class="fa fa-info-circle fa-lg"></i></li>
      <li><a href="#"><i class="fa fa-users"></i>&nbsp;Open Auditions</a><i class="fa fa-info-circle fa-lg"></i></li>
      <li><a href="#"><i class="fa fa-comments"></i>&nbsp;Conversations</a><i class="fa fa-info-circle fa-lg"></i></li>
      <li><a href="#"><i class="fa fa-upload"></i>&nbsp;Import</a><i class="fa fa-info-circle fa-lg"></i></li>
      <li><a href="#"><i class="fa fa-globe"></i>&nbsp;Website</a><i class="fa fa-info-circle fa-lg"></i></li>
      <li><a href="#"><i class="fa fa-question-circle">&nbsp;</i>FAQ</a><i class="fa fa-info-circle fa-lg"></i></li>
    </ul>
  </md-sidenav>

  <div class="example-sidenav-content">
    <span md-button (click)="sidenav.toggle()">
      <i class="fa fa-close"></i>
    </span>
  </div>

</md-sidenav-container>
