.dropzone.dz-wrapper .dz-message .dz-text {
    padding: 80px !important;
    text-align: center;
}
.dropzone{ top: 10px;}

.dropzone.dz-wrapper .dz-preview {
width:auto !important;

}
.dropzone.dz-wrapper .dz-preview .dz-image img {
width:auto !important;
}

md-card{
  z-index: 1;
  margin: 10px 20px;
  width: 90%;
  float: right;
}
