<div class="container">
  <div class="row">
  <md-card>
    <dropzone [config]="config" [message]="'Click or drag videos here to upload'" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></dropzone>
  </md-card>
  <md-card>
    <table datatable class="row-border hover">
        <thead>
          <tr>
            <th><input type="checkbox" /></th>
            <th>Name</th>
            <th>Scene 1</th>
            <th>Scene 2</th>
            <th>All Videos Added</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let role of roles">
            <td></td>
            <td >{{role.name}} </td>
            <td >
              <div class="wrapper">
                <div class="container" [dragula]='"fifth-bag"'>
                   <div>
                      <iframe width="150" height="100"  scrolling="no" style="" [src]="youtube(role.youtubelink)" frameborder="0" allowfullscreen > </iframe>
                   </div>
                </div>
              </div>
            </td>
            <td>
             
                <div [dragula]='"fifth-bag"'>
                  wiefiwuefi                </div>
             
            </td>
            <td></td>
          </tr>
        </tbody>
    </table>
  </md-card>
</div>

</div>

