.dropzone.dz-wrapper .dz-message .dz-text {
    padding: 80px !important;
    text-align: center;
}
.dropzone{ top: 10px;}

.dropzone.dz-wrapper .dz-preview {
width:auto !important;

}
.dropzone.dz-wrapper .dz-preview .dz-image img {
width:auto !important;
}

md-card{
  z-index: 1;
  margin: 10px 20px;
  width: 90%;
  float: right;
}

.upload{
  float: right !important;
  margin-top: 15px !important;
}

.post-sign-in label {
   cursor: pointer;
   height: 200px;
   width: 100%;
   border: 1px solid #ccc;
   text-align: center;
    line-height: 13;
    color: #c8c8c8;
}
progress{
  width: 100%;
}
#file {
   opacity: 0;
   position: absolute;
   z-index: -1;
}

.post-sign-in {
  display: none;
}

.during-upload {
  display: none;
}

.post-upload {
  display: none;
}

iframe{
  height: 200px; width: 200px; padding: 10px;
}

#player div{
float: left;
}
