<div class="container">
  <div class="row">

    <md-card>
      <div class="during-upload">
        <!--<md-progress-bar mode="determinate" id="upload-progress"></md-progress-bar>-->
        <progress id="upload-progress" max="1" value="0"></progress>
      </div>
      <span id="signinButton" class="pre-sign-in">
        <!-- IMPORTANT: Replace the value of the <code>data-clientid</code>
             attribute in the following tag with your project's client ID. -->
        <span
          class="g-signin"
          data-callback="signinCallback"
          data-clientid="1094632453748-rg78j337iju8kuinccujrsvpv4jkb3vd.apps.googleusercontent.com"
          data-cookiepolicy="single_host_origin"
          data-scope="https://www.googleapis.com/auth/youtube.upload https://www.googleapis.com/auth/youtube">
        </span>
      </span>
      <div class="post-sign-in">
        <!--<dropzone id="file" [config]="config" [message]="'Click or drag videos here to upload'" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></dropzone>-->
        <label for="file">Click here to upload videos..</label>
        <input type="file" name="file" id="file" multiple="multiple"/>
        <button type="button" class="btn upload" id="button">Upload</button>
      </div>

      <div class="post-upload">
        <div id="player"></div>
      </div>
    </md-card>
  </div>
  <md-card>
    <table datatable class="row-border hover">
        <thead>
          <tr>
            <th><input type="checkbox" /></th>
            <th>Name</th>
            <th>Scene 1</th>
            <th>Scene 2</th>
            <th>All Videos Added</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let role of roles">
            <td></td>
            <td >{{role.name}} </td>
            <td >
              <div class="wrapper">
                <div class="container" [dragula]='"fifth-bag"'>
                   <div>
                      <iframe width="150" height="100"  scrolling="no" style="" [src]="youtube(role.youtubelink)" frameborder="0" allowfullscreen > </iframe>
                   </div>
                </div>
              </div>
            </td>
            <td>
             
                <div [dragula]='"fifth-bag"'>
                  wiefiwuefi                </div>
             
            </td>
            <td></td>
          </tr>
        </tbody>
    </table>
  </md-card>

</div>

